.pageLayouts {
  display: flex;
}

.siedMenu {
  background-color: #ce0606;
  position: fixed;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 96%;
}
.mainDisplay {
  display: flex;
}

.showData {
  width: 100%;
  max-width: 70%;
}

.nav-bars {
  background-color: #fff;
  padding: 0px;
  margin-bottom: 10px;
}

.filterSide {
  width: 15%;
}
