.buttonDocorationNone{
    border: none;
    background: none;
    cursor: pointer;
    outline: 0;
}

/* .buttonDocorationNone:hover, 
.buttonDocorationNone--active{
    color: red;
    outline: 0;
} */