.buttonDocorationNone{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: #3665ac
}

 
.buttonDocorationNone:active{
    border-bottom: 1px solid #3665ac;
    outline: none;
}